@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	background-color:#D3EDFA;
	 }
#wrapper {
        width: 900px;   /*寬度設定為900px*/
        margin: auto;   /*版面居中對齊*/
		font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
		color:#E3EFFD;
		border:6px solid #092337;/*網頁邊框設定*/
        }

#header {
        height: 150px; /*高度設定為150px*/
		background-color:#10355A;
		padding:20px;
        }

#content {
        background-color:#E3EFFD;
		font-size:14px;
		line-height:2em;
		color:#666;
		padding:30px;
        }

#footer {
		background-color:#696969;
		font-size:12px;
		line-height:1.5em;
		padding:20px;
         }

h1 {
	font-size:30px;
	color:#E8F2FD;
	}
h2 {
	font-size:18px;
	color:#5f9ea0;
	}


background: #f06;
background: linear-gradient(45deg, #f06, yellow);
min-height: 100%;